#link {
	color: black;
	text-decoration: none;
	background: none;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.homesquare {
	margin: 70px 50px auto;
	padding: 30px 20px;
	border: solid #115737 5px;
}

h1 {
	color: Black;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
}
h2{
	color: Black;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}
body{
	width: 70%;
	margin: 0 auto;
}
p{
	color: Black;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;

	line-height: 1.6;
	text-align: justify;
	margin: 0;
	margin-bottom: 1em;
}
a{
	color: white;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #115737;
	padding: 5px;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 5px;
}
a:hover {
    background-color: darkorange;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #115737;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
	text-transform: uppercase;
	font-size: 16px;
}

#myBtn:hover {
    background-color: darkorange;
}